.background {
	&--inverted {
		background-color: rgba($gray, 0.8);
	}

	&--white {
		background-color: $white;
	}

	&--sky {
		background-color: $sky;
	}

	&--cream {
		background-color: $cream;
	}
}
