[class^="badge"] {
	background-color: rgba($badge-primary-color, 0.1);
	border-radius: $badge-border-radius;
	color: $primary-color;
	display: inline-flex;
	padding: 0.6rem 1.2rem;
	text-decoration: none;
	transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);

	&:hover {
		background-color: $sky;
		color: $primary-color;
		text-decoration: none;
	}

	&.active {
		background-color: $primary-color;
		color: $white;
	}
}

.badge {
	font-size: 0.938em;
	font-weight: 600;
	line-height: 1.4;
	// font-family: Arial, Helvetica, sans-serif;

	&--primary {
		background-color: rgba($badge-primary-color, 0.1);
	}

	&--secondary {
		background-color: rgba($badge-secondary-color, 0.1);

		&:hover {
			background-color: darken($badge-secondary-color, 10%);
		}
	}

	&--danger {
		&:hover {
			background-color: darken($badge-danger-color, 10%);
		}
	}

	&--success {
		&:hover {
			background-color: darken($badge-success-color, 10%);
		}
	}

	&--warning {
		&:hover {
			background-color: darken($badge-warning-color, 10%);
		}
	}

	&--info {
		background-color: rgba($badge-info-color, 0.1);

		&:hover {
			background-color: darken($badge-info-color, 10%);
		}
	}

	&--yellow {
		background-color: $badge-yellow-color;
		color: $black;

		&:hover {
			background-color: darken($badge-yellow-color, 10%);
			color: $primary-text-color;
		}
	}

	&--light {
		background-color: $badge-light-color;
		color: $primary-text-color;

		&:hover {
			background-color: darken($badge-light-color, 10%);
			color: $primary-text-color;
		}
	}

	&--dark {
		background-color: $badge-dark-color;
		color: $white;

		&:hover {
			background-color: darken($badge-dark-color, 10%);
			color: $white;
		}
	}

	&--orange {
		background-color: $badge-orange-color;
		color: $white;

		&:hover {
			background-color: darken($badge-orange-color, 10%);
			color: $white;
		}
	}

	&--green {
		background-color: $badge-green-color;
		color: $white;

		&:hover {
			background-color: darken($badge-green-color, 10%);
			color: $white;
		}
	}

	&--black {
		background-color: $badge-dark-color;
		color: $white;

		&:hover {
			background-color: darken($badge-dark-color, 10%);
			color: $white;
		}
	}

	&--gray {
		background-color: $badge-gray-color;
		color: $primary-text-color;

		&:hover {
			background-color: $sky;
			color: $primary-color;
		}
	}
}
