button {
	&[disabled="disabled"],
	&:disabled {
		cursor: not-allowed;
		opacity: 0.4;
		user-select: none;
	}
}

button,
[class*="button--"] {
	align-items: center;
	background-color: transparent;
	border-radius: $button-border-radius;
	border: $button-border;
	color: $primary-color;
	cursor: pointer;
	display: inline-flex;
	font: inherit;
	font-weight: $button-font-weight;
	justify-content: center;
	line-height: $button-line-height;
	padding: $button-padding;
	position: relative;
	text-decoration: none;
	text-transform: inherit;
	transition: all 0.12s ease-in-out;

	i {
		&.icon-arrow-right {
			margin-left: 12px;
		}

		&.icon-arrow-left {
			margin-right: 12px;
		}
	}

	&:hover {
		background-color: $primary-color;
		border-color: $primary-color;
		color: $white;
		text-decoration: none;
	}

	&:focus {
		outline: medium none;
	}
}

[class*="button--"] {
	min-width: 140px;
}

.button {
	// &--mobile {
	// 	width: 100%;
	// }

	&--medium {
		font-size: 0.95em;
		padding-top: 14px;
		padding-bottom: 14px;

		i {
			font-size: 1.45em;
		}
	}

	&--small {
		font-size: 0.88em;
		padding-top: 12px;
		padding-bottom: 12px;

		i {
			font-size: 1.45em;
		}
	}

	&--regular {
		font-size: 1.25em;
		min-width: 200px;
	}

	&--slim {
		padding: 10px;
	}

	&--full {
		width: 100%;
	}

	&--fluid {
		flex: 1;
	}

	&--primary {
		background-color: $primary-button-color;
		border-color: $primary-button-border-color;
		color: $white;

		&:hover {
			background-color: $primary-button-color-hover;
			border-color: $primary-button-border-color-hover;
			color: $white;
		}
	}

	&--secondary {
		background-color: $secondary-button-color;
		border-color: $secondary-button-border-color;
		color: $primary-color;

		&:hover {
			background-color: $secondary-button-color-hover;
			border-color: $secondary-button-border-color-hover;
		}
	}

	&--white {
		background-color: transparent;
		border-color: $white;
		color: $white;

		&:hover {
			background-color: $primary-button-color-hover;
			border-color: $primary-button-border-color-hover;
		}
	}

	&--green {
		background-color: rgba(#55ff22, 0.12);
		border-color: rgba(#55ff22, 0.12);
		color: #12ba25;

		&:hover {
			background-color: #12ba25;
			border-color: #12ba25;
			color: $white;
		}
	}

	&--yellow {
		background-color: #f4e2a9;
		border-color: #f4e2a9;
		color: #646464;

		&:hover {
			background-color: #ffce31;
			border-color: #ffce31;
			color: $white;
		}
	}

	&--favorite {
		border-radius: unset;
		border: medium none;
		font-size: 1.4em;
		padding: 0.2rem;

		&:hover,
		&.active {
			background-color: transparent;
			color: $secondary-color;
		}
	}

	&--icon {
		background-color: $primary-button-color;
		border-color: $primary-button-border-color;
		align-items: center;
		color: $white;
		display: flex;
		font-size: 24px;
		line-height: 1;
		padding-bottom: 0.4rem;
		padding-right: 0.6rem;
		padding-top: 0.4rem;

		&:hover {
			background-color: $primary-button-color-hover;
			border-color: $primary-button-border-color-hover;
			color: $white;

			&:before {
				width: 52px;
			}
		}

		&:before {
			background-color: $white;
			border-radius: 2px;
			content: " ";
			height: 2px;
			transition: width 0.2s ease-in-out;
			width: 34px;
		}

		i {
			font-size: 30px;
			margin-left: -20px;
		}
	}

	&--transparent {
		background-color: transparent;
	}

	&--disabled {
		cursor: not-allowed;
		opacity: 0.4;
		pointer-events: none;
		user-select: none;
	}

	&--close {
		font-size: 28px;
		border: medium none;
		line-height: 1;
		min-width: auto;
		padding: 0.2rem;

		&:hover {
			background-color: transparent;
			transform: scale(1.2);
			color: $secondary-color;
		}
	}

	&--collaps {
		font-size: 1.125em;
		border: medium none;
		color: $primary-text-color;
		line-height: 1;
		font-weight: 500;
		min-width: auto;
		padding: 0.2rem;

		&:hover {
			background-color: transparent;
			color: $primary-color;
		}
	}

	&-group {
		display: flex;
		flex-flow: row wrap;
		grid-gap: 1rem;
	}
}

// Mobiles/Tablets
@media (max-width: 767px) {
	.button {
		&--mobile {
			width: 100%;
		}
	}
}

// Mobiles
@media (max-width: 575px) {
	.button {
		width: 100%;

		+ [class*="button"] {
			margin-top: 1.2rem;
		}
	}
}
