.dropup,
.dropright,
.dropdown,
.dropleft {
	position: relative;
}

.dropdown {
	&-toggle {
		white-space: nowrap;

		&:after {
			border-bottom: 0;
			border-left: 0.3em solid transparent;
			border-right: 0.3em solid transparent;
			border-top: 0.3em solid;
			content: " ";
			display: inline-block;
			margin-left: 0.255em;
			vertical-align: 0.255em;
		}

		&:empty {
			&:after {
				margin-left: 0;
			}
		}
	}

	&-header {
		display: block;
		font-size: 0.875rem;
		margin-bottom: 0;
		padding: 0.5rem 1.5rem;
		white-space: nowrap;
	}

	&-menu {
		background-clip: padding-box;
		background-color: $white;
		border: 1px solid $input-border-color;
		display: none;
		float: left;
		font-size: 1rem;
		left: 0;
		list-style: none;
		min-width: 10rem;
		position: absolute;
		text-align: left;
		top: 100%;
		z-index: 1000;

		&-left {
			right: auto;
			left: 0;
		}

		&-right {
			right: 0;
			left: auto;
		}

		&-center {
			right: 0;
			left: auto;
			transform: translateX(-50%);
		}

		&.show {
			display: block;
		}
	}

	&-wrapper {
		background-color: $white;
		padding: 1rem;
		position: relative;
	}

	&-item {
		background-color: transparent;
		border: 0;
		clear: both;
		display: block;
		padding: 0.8rem 1rem;
		text-align: inherit;
		white-space: nowrap;
		width: 100%;

		&:hover,
		&:focus {
			background-color: rgba($black15, 0.2);
			color: $primary-color;
			text-decoration: none;
		}

		&.active,
		&:active {
			background-color: $secondary-color;
			color: $white;
			text-decoration: none;
		}

		&.disabled,
		&:disabled {
			background-color: transparent;
			color: #000;
			pointer-events: none;
		}
	}

	&-text {
		padding: 0.8rem 0;
	}

	&-divider {
		border-top: 1px solid $input-border-color;
		height: 0;
		margin: 0 -1rem 0 -1rem;
		overflow: hidden;
	}
}

.dropdown-menu[x-placement^="top"],
.dropdown-menu[x-placement^="right"],
.dropdown-menu[x-placement^="bottom"],
.dropdown-menu[x-placement^="left"] {
	right: auto;
	bottom: auto;
}
