header {
	background-color: $primary-color;
	color: $white;
	position: relative;
	z-index: 10;

	.container {
		align-items: center;
		display: flex;
		flex-flow: row wrap;
		// height: 92px;
		justify-content: space-between;
		z-index: 10;
	}

	// i {
	// 	font-size: 24px;
	// }

	&:before {
		background-color: transparent;
		bottom: 0;
		content: " ";
		left: 0;
		pointer-events: none;
		position: fixed;
		right: 0;
		top: 0;
		transition: background-color 0.2s ease-in-out;
		z-index: 1;
	}

	&.fade-out {
		animation: fadeOutAnimation 0.2s linear 1 normal forwards;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.logo {
		align-items: flex-start;
		display: inline-flex;
		flex-direction: column;
		margin: 2rem 0;
		text-decoration: none;

		&:hover {
			color: $white;
		}

		.image {
			height: 42px;
			margin-bottom: 0.4rem;
			width: auto;
		}
	}

	.follow {
		background-color: #374762;
		display: flex;
		align-items: center;
		padding: 0.5rem 1rem 0.5rem 2rem;
		border-radius: 32px 0 0 32px;
		position: relative;

		&:after {
			background-color: #374762;
			content: " ";
			height: 100%;
			left: 100%;
			position: absolute;
			top: 0;
			width: 100vw;
		}
	}

	.toolbar {
		display: flex;
		width: 100%;
		justify-content: flex-end;
		// overflow: hidden;
		transform: translateX(1.2rem);
	}

	nav {
		display: flex;
		flex-direction: column;
		margin: auto 0;
	}

	.submenu {
		background-color: $white;
		border-radius: 8px;
		border: 1px solid $border-color;
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
		cursor: initial;
		color: $primary-text-color;
		left: 50%;
		min-width: 180px;
		opacity: 0;
		padding: 1rem;
		pointer-events: none;
		position: absolute;
		margin-top: 20px;
		top: 100%;
		transform: translateX(-50%);
		transition: margin-top 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.2s ease-in-out;
		visibility: hidden;
		z-index: -1;

		> li {
			margin-bottom: 0;

			+ li {
				margin-top: 0.8rem;
			}
		}
	}
}

.sticky {
	&-yes {
		animation: 0.5s ease-in-out 0s normal none 1 running fadeInAnimation;
		// background-color: rgba($primary-color, 0.98);
		box-shadow: 0 2px 4px rgba(#333, 0.15);
		color: $white;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
		z-index: 100;

		.container {
			height: auto;
		}

		.follow {
			display: none;
		}

		a {
			&.logo {
				margin: 1rem 0;

				img {
					height: 30px;
					margin: 0;
				}
			}

			.logo-slogan {
				display: none;
			}
		}

		.menu {
			/* &-top {
				.trigger {
					&:hover,
					&.active {
						// color: lighten($secondary-color, 28%);
						color: $inverted-color;
					}
				}
			} */

			&-toggle {
				&:hover {
					color: $inverted-color;
				}
			}
		}

		.submenu {
			color: $primary-text-color;
		}
	}
}

.menu {
	/* &-mobile {
		align-self: center;
		display: none;
		min-width: auto;
		padding: 0.8rem;
	} */

	&-top {
		align-items: center;
		display: flex;
		// font-size: 1.125em;
		margin-left: auto;

		> li {
			margin-bottom: 0;
			margin-left: 0.5rem;
			position: relative;

			&:hover {
				.submenu {
					margin-top: 0;
					opacity: 1;
					pointer-events: unset;
					visibility: visible;
					z-index: 2;
				}
			}
		}

		i {
			font-size: 18px;
			line-height: normal;
			margin-right: 0.35rem;
		}

		.trigger {
			align-items: center;
			border: medium none;
			color: inherit;
			display: inline-flex;
			padding: 0.8rem;
			text-decoration: none;

			&:hover,
			&.active {
				background-color: transparent;
				color: $inverted-color;
			}
		}
	}

	&-aside {
		background-color: $white;
		bottom: 0;
		color: $primary-text-color;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-width: 380px;
		padding: 4rem;
		position: fixed;
		right: 0;
		top: 0;
		transform: translate3d(100%, 0, 0);
		transition: transform 0.2s ease-in-out;
		visibility: hidden;
		z-index: 10;

		.link {
			font-size: 1.4em;
			font-weight: 600;
			margin: 0.6rem 0;
		}

		.headline {
			font-size: 18px;
			margin-bottom: 0.5rem;
		}
	}

	&-main {
		display: flex;
		line-height: 1;

		/* > li {
			display: flex;
			align-items: center;
			cursor: pointer;
			margin: 0 1.6rem;

			&:last-child {
				margin: 0;
			}

			> .trigger,
			> .toggle {
				align-self: center;
				background-color: transparent;
				border: medium none;
				color: $primary-color;
				cursor: pointer;
				font-size: 1.0625em;
				line-height: 1;
				padding: 0.6rem;
				text-align: center;

				&:hover,
				&.active {
					color: $primary-color;
					text-decoration: none;
				}
			}

			&:hover {
				.menu-dropdown {
					margin-top: 0;
					opacity: 1;
					pointer-events: unset;
					visibility: visible;
					z-index: 2;
				}
			}
		} */

		i {
			font-size: 18px;
			line-height: normal;
			margin-right: 0.5rem;
		}

		/* .button {
			border: 1px solid;
			padding: 1.2rem 1.8rem;
		} */

		/* .toggle {
			justify-content: space-between;
			line-height: 1;

			&:after {
				content: "\e905";
				font-family: "icons";
				font-size: 0.8em;
				margin-left: 0.5rem;
			}
		} */

		/* .active {
			color: $primary-color;
			text-decoration: none;
		}

		.menu-close {
			display: none;
		} */
	}

	/* &-dropdown {
		a,
		button {
			&:hover {
				text-decoration: none;
			}
		}
	}

	&-shell {
		padding: 1.2rem 1.4rem;
	} */

	&-show {
		overflow: hidden;
		padding-right: 6px;

		header {
			// padding-right: 6px;

			&.sticky-yes {
				padding-right: 6px;
			}

			.menu-aside {
				transform: translate3d(0, 0, 0);
				visibility: visible;
				// animation-name: fadeInMenu;
			}

			&:before {
				background-color: rgba(0, 0, 0, 0.4);
				pointer-events: initial;
			}
		}
	}

	&-close {
		position: absolute;
		right: 1.4rem;
		top: 1.5rem;

		&:hover {
			color: $secondary-color;
		}
	}

	&-toggle,
	&-close {
		align-self: center;
		background-color: transparent;
		border: medium none;
		color: inherit;
		cursor: pointer;
		padding: 0.4rem;
		text-decoration: none;
		margin-left: 1rem;

		&:hover {
			background-color: transparent;
			color: $secondary-color;
			text-decoration: none;
		}

		i {
			// font-size: 1.375em;
			// font-size: 1.5em;
			margin: 0;
		}
	}

	&-toggle {
		i {
			font-size: 1.5em;
		}
	}

	&-close {
		i {
			font-size: 1.875em;
		}
	}
}

// .close-menu {
// 	cursor: pointer;
// 	display: none;
// 	left: 1.5rem;
// 	position: absolute;
// 	top: 1.2rem;

// 	&:hover {
// 		color: $primary-color;
// 	}
// }

.show {
	> .menu-level-three {
		pointer-events: unset;
		opacity: 1 !important;
		z-index: 2;
	}

	> .toggle {
		color: $primary-color;
	}
}

// Tablets and Desktops
@media (min-width: 860px) {
	/* .menu {
		&-main {
			> li {
				position: relative;
			}
		}

		&-dropdown {
			background-color: rgba(#03122e, 0.95);
			border: 1px solid $primary-color;
			box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
			cursor: auto;
			left: 50%;
			margin-top: 20px;
			min-width: 180px;
			opacity: 0;
			padding: 1rem;
			pointer-events: none;
			position: absolute;
			text-align: center;
			top: 100%;
			transform: translateX(-50%);
			transition: all 0.2s $transition-effect;
			visibility: hidden;
			z-index: -1;

			a,
			button {
				padding: 0.4rem 0;
			}

			li {
				margin-bottom: 0.8rem;
			}
		}
	}

	.sticky {
		&-yes {
			.categories {
				min-height: auto !important;

				> li {
					border-top: 1px solid $border-color;

					&:first-child {
						border: none;
					}
				}
			}
		}

		&-no {
			.categories {
				border-right: 1px solid $border-color;
				max-width: 280px;
				transition: all 0.4s $transition-effect;

				.show {
					color: $primary-color;

					.toggle {
						&:after {
							height: 100%;
						}
					}
				}

				.toggle {
					position: relative;
					padding-right: 26px;

					&:after {
						content: "\e907";
						font-family: "icons";
						font-size: 14px;
						position: absolute;
						right: 6px;
						top: 8px;
						transition: right 0.18s ease-in-out;
					}

					&:hover {
						&:after {
							right: 4px;
						}
					}
				}

				a,
				button {
					justify-content: flex-start;
				}
			}
		}
	}

	header {
		.form {
			&-search {
				.input-wrapper {
					transition: all 0.4s $transition-effect;
					width: 40px;

					button {
						pointer-events: none;
					}

					&:focus-within {
						button {
							pointer-events: unset;
						}
					}

					&:focus-within,
					&:hover {
						flex: 1;
						width: 100%;

						input {
							opacity: 1;
						}
					}
				}

				input {
					opacity: 0;
					transition: opacity 0.2s ease-in-out;

					&:focus {
						border-color: $input-focus-border-color;
						box-shadow: none;
					}
				}
			}
		}
	} */
}
// Tablets and Desktops
@media (max-width: 1024px) {
	/* .menu {
		&-main {
			> li {
				margin: 0 0.6rem;
			}
		}
	} */
}

// Mobiles/Tablets
@media (max-width: 836px) {
	.menu {
		&-top {
			display: none;
		}
	}
	/* .menu {
		&-mobile {
			display: inline-block;
		}

		&-main {
			background-color: $primary-site-background;
			bottom: 0;
			color: $black;
			flex-direction: column;
			padding: 4rem 0 0;
			position: fixed;
			left: 100%;
			top: 0;
			transform: translateX(0);
			// transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
			transition: transform 0.3s ease-in-out;
			width: 320px;
			z-index: 10;

			& > li {
				visibility: hidden;
				cursor: unset;
				flex-direction: column;
				justify-content: center;
				padding-bottom: 0.5rem;
				padding-top: 0.5rem;
			}

			.menu-close {
				display: block;
				left: 1.8rem;
				padding: 0;
				position: absolute;
				top: 1.2rem;

				i {
					color: white;
					font-size: 1.8em;
					margin: 0;
				}
			}

			.button {
				margin-top: 1.2rem;
			}

			.toggle {
				display: none;
			}
		}

		&-show {
			padding-right: 0;

			.menu-main {
				transform: translateX(-100%);

				& > li {
					visibility: visible;
				}
			}
		}

		&-dropdown {
			color: $white;

			a,
			button {
				padding: 0.6rem 0;
			}

			li {
				text-align: center;
				margin: 0 0 1.5rem 0;

				&:last-child {
					margin: 0;
				}
			}
		}
	} */
}

// Mobiles
@media (max-width: 575px) {
	// header {
	// 	.dropdown-menu {
	// 		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
	// 		width: 96vw;

	// 		&:before {
	// 			display: none;
	// 		}
	// 	}
	// }

	/* .sticky {
		&-yes {
			.form-search {
				display: none;
			}
		}
	} */
}

// Mobiles small
@media (max-width: 480px) {
	/* .sticky {
		&-yes {
			.logo {
				height: 40px;
			}
		}
	} */
	header {
		.logo {
			.image {
				height: 32px;
			}

			&-slogan {
				max-width: 260px;
				font-size: 0.9em;
			}
		}
	}

	.menu {
		&-aside {
			font-size: 1.1em;
			min-width: 280px;
			padding-top: 2rem;
			padding-bottom: 2rem;
		}
	}
}

// Mobiles smallest
@media (max-width: 358px) {
	/* .sticky {
		&-yes {
			.logo {
				height: 25px;
			}
		}
	} */
}
