.loading {
	overflow: hidden;
	position: relative;

	&:before {
		background-color: rgba(255, 255, 255, 0.9);
		bottom: 0;
		content: " ";
		left: 0;
		pointer-events: initial;
		position: absolute;
		right: 0;
		top: 0;

		z-index: 110;
	}

	.loading-content {
		display: flex;
	}

	&-content {
		backdrop-filter: blur(8px);
		align-items: center;
		bottom: 0;
		display: none;
		justify-content: center;
		left: 0;
		padding: 1.2rem;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 120;
	}

	.list {
		font-size: 1.125em;
	}

	&-bar {
		border-radius: 32px;
		border: 2px solid $primary-color;
		height: 18px;
		margin-bottom: 2rem;
		overflow: hidden;
		position: relative;

		span {
			background-color: $primary-color;
			border-radius: 32px;
			bottom: 0;
			left: 0;
			position: absolute;
			top: 0;
			transition: width 0.2s ease-in-out;
		}
	}

	&-top {
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin-bottom: 2rem;

		h2 {
			color: $primary-text-color;
		}

		span {
			color: $primary-color;
			font-size: 1.625em;
			font-weight: bold;
		}

		* {
			margin: 0;
		}
	}
}
