section {
	display: block;
	padding: 0 0 $section-paddings 0;
	position: relative;

	&[class*="section--"] {
		padding-top: $section-paddings;

		& + section {
			padding-top: $section-paddings;
		}
	}
}

.section {
	&--aside {
		padding: 0;
	}

	&--secondary {
		background-color: $secondary-site-background;
		padding: 1.2rem 0;
		position: relative;

		.container {
			align-items: center;
			display: flex;
			justify-content: center;
		}

		img {
			margin-right: 2rem;
		}

		h2 {
			font-size: 1.6em;
			font-weight: 400;
		}
	}

	&--half {
		padding: 0;

		article {
			color: $white;
			padding-right: 4rem;
			position: static;

			p {
				font-size: 1.375em;
			}
		}

		aside {
			padding-left: 3rem;
			padding-right: 3rem;
			padding-top: 2rem;
		}

		.section-headline {
			color: $white;
			font-size: 3.25em;
		}

		.picture {
			right: auto;
			width: 50%;
		}
	}

	&--hero {
		padding: 0 !important;
		position: relative;
		color: $white;

		.section-headline {
			font-size: 3.375em;
			font-weight: 900;
		}

		.picture {
			background-color: #56728a;

			img {
				opacity: 0.5;
			}
		}

		form {
			margin-top: 1.2rem;
			padding-right: 3rem;
		}
	}

	&--top {
		padding: 0 1rem;
		position: relative;

		h1 {
			color: $white;
			font-size: 3.625em;
			text-align: center;
		}

		&.emphasis {
			.container {
				min-height: 40vh;
			}
		}

		.container {
			align-items: center;
			display: flex;
			justify-content: center;
			max-width: $container-hero-max-width;
			min-height: 28vh;
			padding-bottom: 6rem;
			padding-top: 6rem;
			position: relative;
		}
	}

	&--overlap {
		padding-top: 0 !important;

		.element {
			margin-top: -4rem;
			margin-bottom: 4rem;
		}
	}

	&--sky {
		background-color: lighten($sky, 6%);
	}

	&--counter {
		h3 {
			font-size: 2.8em;
			font-weight: 700;
			margin-bottom: 0.2rem;
		}

		p {
			color: #000;
			font-weight: 500;
		}
	}

	&--article {
		padding-top: 0 !important;

		aside {
			img {
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}
		}

		.date {
			font-size: 1.125em;
			font-weight: 600;
		}
	}

	&--testimonial {
		background: $primary-color url("../images/blue-pattern.jpg");
		color: $white;

		.headline {
			color: $white;
		}

		.client {
			font-size: 1.375em;
			font-weight: 600;
			align-self: flex-end;
		}

		aside {
			display: flex;
			flex-direction: column;
			opacity: 0.6;
			padding-top: 2rem;
			position: relative;

			&:after {
				content: "\e900";
				font-family: "icons";
				font-size: 38px;
				left: -1rem;
				position: absolute;
				top: -1rem;
			}

			p {
				font-size: 1.75em;
			}
		}
	}

	&--breadcrumbs {
		background-color: $cream;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	&--cream {
		background-color: lighten($cream, 8%);
	}
}

.aside {
	&--cream {
		background-color: $cream;
		border-radius: 0 0 0 $border-radius;
		padding: 1.6rem;
	}
}

.icons-wrapper {
	i {
		display: inline-block;
		font-style: normal;
		margin: 1rem;
		text-align: center;

		&:before {
			display: block;
			font-size: 25px;
			margin-bottom: 8px;
		}
	}
}

.scroll {
	&-top {
		background-color: lighten($primary-color, 10%);
		border-radius: $button-border-radius $button-border-radius 0 0;
		border: medium none;
		bottom: 0;
		color: $white;
		cursor: pointer;
		font-size: 1.25em;
		line-height: 3;
		padding: 0.8rem 1rem;
		position: fixed;
		right: 20px;
		text-align: center;
		transform: translateY(20px);
		transition: all 0.2s ease-in;
		visibility: hidden;
		width: 60px;
		z-index: 20;

		&:hover {
			background-color: darken($primary-color, 5%);
			padding-bottom: 1.2rem;
		}

		&.show {
			visibility: visible;
			transform: translateY(0);
		}
	}
}

.columns {
	&-two {
		columns: auto 2;
		column-gap: 3rem;
	}

	&-three {
		columns: auto 3;
		column-gap: 3rem;
	}
}

// Large screens
@media (min-width: 1250px) {
	.section {
		&--secondary {
			&:before {
				height: 80px;
				left: 3vw;
				top: -42px;
				transform: rotate(21deg);
				width: 110px;
			}

			&:after {
				bottom: -24px;
				height: 55px;
				right: 3vw;
				transform: rotate(-32deg);
				width: 70px;
			}
		}
	}
}

// Desktops
@media (max-width: 1000px) {
}

// Desktops
@media (max-width: 1200px) {
}

// Laptops
@media (max-width: 991px) {
	section {
		&.section--half {
			article {
				margin: 0;
				padding: 2rem 1.2rem;
				position: relative;

				p {
					font-size: 1.125em;
				}
			}

			aside {
				padding-left: 1.2rem;
				padding-right: 1.2rem;
			}

			.section-headline {
				font-size: 2.25em;
			}

			.picture {
				width: 100%;
			}
		}
	}
}

// Tablets
@media (min-width: 767px) {
	.section {
		&--counter {
			.container {
				position: relative;

				&:before,
				&:after {
					border-radius: $border-radius;
					content: " ";
					height: 100%;
					position: absolute;
					right: 100%;
					width: 100vw;
				}

				&:before {
					background-color: $primary-color;
					transform: translateX(50px);
					top: -16px;
				}

				&:after {
					background-color: darken($primary-color, 6%);
					transform: translateX(34px);
					top: 0;
				}

				.row {
					&:before,
					&:after {
						border-radius: $border-radius;
						content: " ";
						height: 100%;
						position: absolute;
						left: 100%;
						width: 100vw;
					}

					&:before {
						background-color: $primary-color;
						transform: translateX(-50px);
						top: -16px;
					}

					&:after {
						background-color: darken($primary-color, 6%);
						transform: translateX(-34px);
						top: 0;
					}
				}
			}

			.col-4 {
				&:nth-child(2) {
					border-left: 1px solid $border-color;
					border-right: 1px solid $border-color;
				}
			}
		}
	}
}

// Tablets
@media (max-width: 767px) {
	.section {
		&--hero {
			form {
				padding-right: 0;
			}
		}

		&--counter {
			.col-4 {
				&:nth-child(2) {
					padding-top: 22px;
					border-bottom: 1px solid $border-color;
					border-top: 1px solid $border-color;
				}
			}
		}

		&--article {
			padding-top: 2rem !important;

			aside {
				img {
					border-top-left-radius: $border-radius;
					border-top-right-radius: $border-radius;
				}
			}
		}
	}
}

// Mobiles
@media (max-width: 659px) {
	section {
		padding: 2rem 0;

		&[class*="section--"] {
			padding-top: 2rem;

			& + section {
				padding-top: 2rem;
			}
		}
	}

	.section {
		&-title {
			font-size: 1.8em;
			margin-bottom: 2rem;
		}

		&--hero {
			.section-headline {
				font-size: 2.625em;
			}
		}

		&--top {
			h1 {
				font-size: 2.625em;
			}

			.container {
				padding: 2rem 1rem;
			}
		}
	}
}

// Mobiles
@media (max-width: 575px) {
	.section {
		&--testimonial {
			aside {
				p {
					font-size: 1.125em;
				}

				&:after {
					left: 0;
				}
			}
		}
	}

	.columns {
		&-two {
			columns: auto 1;
			column-gap: normal;
		}

		&-three {
			columns: auto 1;
			column-gap: normal;
		}
	}
}
