/* .list {
	&--social {
		display: flex;
		line-height: 1;

		a {
			display: inline-block;
			font-size: 1.6em;
			text-decoration: none;
			transition: opacity 0.2s ease-in-out;
			vertical-align: middle;

			&:hover {
				opacity: 0.8;
			}
		}

		li {
			display: inline-block;
			margin-right: 1rem;

			&:last-child {
				margin-right: 0;
			}
		}
	}
} */

.social {
	&-widget {
		flex-direction: column;

		.title {
			font-size: 1.2em;
		}
	}

	&-list {
		display: flex;
		line-height: 1;

		a {
			display: inline-flex;
			// font-size: 1.125em;
			font-size: 1.25em;
			text-decoration: none;
			transition: opacity 0.2s ease-in-out;
			vertical-align: middle;

			&:hover {
				opacity: 0.8;
			}
		}

		li {
			display: inline-block;
			margin-right: 1rem;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}
