.tyre {
	&-results {
		align-items: center;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		margin-bottom: 2rem;
	}

	&-header {
		display: flex;
		font-weight: 400;
		font-size: 1.125em;

		.group {
			align-items: center;
			display: flex;
			flex-flow: row wrap;
			flex: 1;
			padding: 1rem;
		}

		.gr {
			flex: 1;
			padding: 0 2rem;
			text-align: center;
			white-space: nowrap;
		}

		p {
			margin: 0;
		}
	}

	&-info {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 2rem 0;

		.middle {
			padding: 0 3rem;
		}
	}
}

// Mobiles/Tablets
@media (max-width: 767px) {
	.tyre {
		&-header,
		&-info {
			align-items: center;
			flex-direction: column;
		}

		&-header {
			// padding: 1rem 0 0;
			padding: 0;

			.gr {
				padding: 0.5rem;

				&:last-child {
					padding-top: 1rem;
					flex: 0 0 100%;
				}
			}
		}

		&-info {
			padding: 1rem 0;

			.middle {
				padding: 1rem 0;
			}
		}
	}
}
